body {
  font-size: 16px;
  color: #ECF5FC;
  background-color: #636F89;
  margin:0px;
}

.global-container{
	border-radius: 0;
}
.menu{
	background-color: #636F89;
	padding-top: 48px;
}

.menu h1{
	padding-left: 24px;
}

.menu ul{
	padding-left: 24px;
}
.menu #botones{
	padding-left: 24px;
}

.medium-col{
	border-right-style: ridge;
	border-left-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
}
.medium-top{
	padding: 8px 8px 8px 8px;
	border-bottom-style: solid;
	border-width: 1px;
	background-color: #3C2901;
	margin-bottom: 16px;
	color: white;
	
}
.medium-top h3{
	margin-left:10px;
}

.cabecera{
	padding-top: 10px;
	border-bottom-style: solid;
	border-width: 1px;
}

#nav-list a{
	color: #ECF5FC;
	font-size: 0.9em;
	font-weight: bold;
	white-space: pre;
}

#header-nav{
	margin: 0px;
	padding: 0px;
}

#btnEscribir, #btnRegistrarse, #btnLogin{
	margin-top: 30px;
}

#btnComunicador{
	font-size: 0.9em;
}

#nav-list{
	font-size: 1.3em;
	color: #351222;
}

#formBuscar{
	width: 80%;
}

.nota-container{
	padding-left: 30px;
	color: white;
}

.hilo{
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom-style: solid;
	border-width: 1px;
}

#datos-hilo p:nth-child(1){
	font-size: 1.2em;
	font-weight: bold;
	width: 74%;
}
#datos-hilo p:nth-child(2){
	font-size: 0.6em;
}

#datos-nota p:nth-child(1){
	font-size: 0.9em;
	width: 85%;
	color: #ECF5FC;
}
#datos-nota p:nth-child(2){
	font-size: 0.6em;
	color: #ECF5FC;
}
.aporte{
	border-bottom-style: solid;
	border-width: 1px;
}
.datos-aporte{
	padding: 8px 0px 0px 0px;
}
.datos-aporte .descripcion{
	font-size: 1.1em;
	width: 75%;
}
.datos-aporte .tiempo{
	font-size: 0.8em;
}

#linkAbrirHilo{
	text-decoration:none;
}
#imagen-categoria{
	min-height: 150px;
	width: 100%;
}

#imagen-opciones-admin{
	height: 250px;
	width: 100%;
}

#imagen-aporte{
	max-height: 60px;
	max-width: 60px;
}
#imagen-usuario{
	height: 80%;
	width: 100%;
	max-height: 100px;
	max-width: 100px;
}

.image-group{
	padding-top: 10px;
}

.login{
	margin-top: 10%;
}

.nav-tabs{
	border-bottom: none;
	margin-left: 16px;
	background-color: none;
}
.nav-tabs nth-child(n){
	border: none;
	background-color: none;
}

.registro{
	margin-top:16px;
}
h3{
	padding-bottom:8px;
}

.card{
	background-color: #3C2901;
}

.card-body{
	padding-top:0px;
	padding-bottom:0px;
	text-align: center;
}

.card-text{
	color: white;
}

.btnGuardado{
	margin-left: 25%;
}

.seccion-comentarios{
	margin: 0px;
	padding: 0px;
	border: solid 1px;
	background-color: #6d7993	
}
.seccion-comentarios .row{
	margin-left: 0px;
}
.titulo-comentarios{
	border-bottom-style: solid;
	border-width: 1px;
	padding: 16px 16px 16px 16px;
	margin: 0px;
	background-color: #3C2901;
	color: white;
}

.comentario{
	border-bottom-style: solid;
	border-width: 1px;
	padding: 8px 8px 8px 8px;
	color: #d5d5d5;
}
.perfil{
	border-left-style: solid;
	border-right-style: solid;
	border-width: 1px;
}

.perfil .titulo{
	padding: 8px 0px 8px 16px;
}
.perfil .datos-principales{
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	padding: 32px 0px 16px 0px;
}
.perfil .datos-secundarios{	
	border-bottom-style: solid;
	border-width: 1px;
	padding: 32px 0px 16px 0px;
}
.perfil #clave{
	padding: 16px 0px 16px 16px;
}
.perfil .navs{
	border-bottom-style: solid;
	border-width: 1px;
}
.perfil .navs li{
	margin-right: 150px;
}