.seccion-comentarios{
	margin: 0px;
	padding: 0px;
		
}
.seccion-comentarios .row{
	margin-left: 0px;
}
.titulo-comentarios{
	border-bottom-style: solid;
	border-width: 1px;
	padding: 16px 16px 16px 16px;
	margin-bottom: 16px;
	background-color: #3C2901;
	color: white;
}

.comentario{
	border-bottom-style: solid;
	border-width: 1px;
	padding: 8px 8px 8px 8px;
	color: white;
}

.comentario .fecha{
	font-size: 0.6em;
}
.comentario .descripcion{
	font-size: 0.9em;
}

#formComentar{
	margin-left: 8px;
}